.texto{
    font-size: 10px;
    display: inline;
    color: rgb(67, 67, 67);

}
.link{
    font-size: 11px;
    display: inline;
    text-decoration: none;
    color: rgb(67, 67, 67);
}
.link:hover{
    color: rgb(27, 99, 224);
}


