<!DOCTYPE html>
<html>
<head>
    <title>Detalle Proveedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Proveedor: {{ proveedor.nombre_empresa }}</h1>
        <h2>Productos</h2>
        <ul class="list-group">
            {% for producto in productos %}
            <li class="list-group-item">
                <h5>{{ producto.nombre_producto }}</h5>
                <p>Precio: {{ producto.precio_costo }}</p>
                <img src="{{ producto.foto_producto.url }}" alt="{{ producto.nombre_producto }}" width="100">
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'agregar_producto_proveedor' proveedor.id_proveedor %}" class="btn btn-primary mt-3">Agregar Productos</a>
    </div>
</body>
</html>
