<!-- detalle_venta_ajax.html -->
 {% load custom_filters %}
<div class="container-fluid">
    <h5>Detalles de la Venta</h5>
    <p><strong>ID Boleta:</strong> {{ venta.id_boleta }}</p>
    <p><strong>Cliente:</strong> {{ venta.usuario.nombre_usuario }}</p>
    <p><strong>Fecha:</strong> {{ venta.fecha }}</p>
    <p><strong>Subtotal:</strong> {{ venta.subtotal|format_price }}</p>
    <p><strong>IVA:</strong> {{ venta.iva|format_price }}</p>
    <p><strong>Total:</strong> {{ venta.total|format_price }}</p>
    <h5>Productos Comprados</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ detalle.producto.nombre_producto }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.precio_unitario|format_price }}</td>
                <td>{{ detalle.total|format_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
