<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepción de Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
    $(function() {
        $('input[name^="marca"]').autocomplete({
            source: "{% url 'buscar_marca' %}",
            minLength: 2
        });
    });
    </script>
    {% load custom_filters %}
</head>
<body>
    <div class="container mt-5">
        <h1>Recepción de Productos</h1>
        <form method="post" action="{% url 'publicar_productos' %}">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre de la Empresa</th>
                        <th>Nombre del Producto</th>
                        <th>Precio</th>
                        <th>Cantidad Pedida</th>
                        <th>Cantidad Llegada</th>
                        <th>Precio de Venta</th>
                        <th>Marca</th>
                        <th>Descripción</th>
                        <th>Foto del Producto</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in recepciones %}
                    {% if item.estado == 'en_recepcion' %}
                    <tr>
                        <td>{{ item.carrito_item.producto.proveedor.nombre_empresa }}</td>
                        <td>{{ item.carrito_item.producto.nombre_producto }}</td>
                        <td>{{ item.carrito_item.producto.precio_costo|format_price }}</td>
                        <td>{{ item.carrito_item.cantidad }}</td>
                        <td><input type="number" name="cantidad_llegada_{{ item.id }}" value="{{ item.cantidad_llegada }}" min="1" max="{{ item.carrito_item.cantidad }}"></td>
                        <td><input type="text" name="precio_venta_{{ item.id }}" value="{{ item.precio_venta }}"></td>
                        <td><input type="text" name="marca_{{ item.id }}" class="marca-input" value="{{ item.marca }}"></td>
                        <td><input type="text" name="descripcion_{{ item.id }}" value="{{ item.descripcion }}"></td>
                        <td><img src="{{ item.carrito_item.producto.foto_producto.url }}" alt="{{ item.carrito_item.producto.nombre_producto }}" width="100"></td>
                        <td><input type="checkbox" name="publicar_{{ item.id }}" value="true"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Publicar Productos</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
